[submodule "external/gameobjects-gameplay3d"]
	path = external/gameobjects-gameplay3d
	url = https://github.com/louis-mclaughlin/gameobjects-gameplay3d.git
[submodule "external/pngcrush/repo"]
	path = external/pngcrush/repo
	url = git://git.code.sf.net/p/pmt/code
	branch = pngcrush
