[submodule "external/gameobjects-gameplay3d"]
	path = external/gameobjects-gameplay3d
	url = https://github.com/louis-mclaughlin/gameobjects-gameplay3d.git
[submodule "external/GamePlay"]
	path = external/GamePlay
	url = https://github.com/gameplay3d/GamePlay.git
	branch = next
