window
{
    title = Platformer
    width = 1280
    height = 720
    fullscreen = false
    vsync = true
}

gamepad
{
    form = res/ui/gamepad.form
}

aliases
{
    res/textures = res/textures
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/enemy = res/textures/enemy.png
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/tiles = res/textures/tiles.png
    res/textures/enemies = res/textures/enemies.png
    res/textures/environment = res/textures/environment.png
    res/textures/player = res/textures/player.png
    res/textures/splash = res/textures/splash.png
    res/textures/bg = res/textures/bg.png
    res/textures/interactables = res/textures/interactables.png
}

scripts
{
    initialize = res/lua/platformer.lua#initialize
}

//---------------------------------------------------------------------------------------------------------
//---------------------------------------------Debug only--------------------------------------------------
//---------------------------------------------------------------------------------------------------------

debug_font = res/fonts/debug.gpb
debug_show_fps = false
debug_draw_physics = false
debug_assert_timeout_ms = 0
debug_draw_character_positions = false
debug_enable_zoom_draw_culling = true
debug_enable_enemy_spawn = true
debug_draw_camera_target = false
debug_camera_target_colour = 1, 1, 0, 0.5
debug_enable_level_rendering= true
debug_enable_unlimited_jump= false

//---------------------------------------------------------------------------------------------------------
//---------------------------------------------Tools-------------------------------------------------------
//---------------------------------------------------------------------------------------------------------

debug_os = <assigned_at_runtime>

// Allows tools to run before the game starts, should only be used on pc
debug_enable_tools = false
// The game will exit immediately after tools have been run
debug_run_tools_only = false

// You must assign these values in order to use the android tools
debug_android_sdk_tools_dir = <insert_path>
debug_android_ndk_dir = <insert_path>
debug_ant_dir = <insert_path>

// Remove any data generated by the android project build and compilation processes
debug_clean_android = false
// Update the source cpp list in Android.mk
debug_generate_android = false
// How many jobs to use when compiling android, recommened to use one per physical CPU core
debug_num_android_compile_jobs=4
// Compile android with the NDK
debug_build_android=false
// Deploy existing compiled apk to the default android device with Ant
debug_deploy_android=false
