window
{
    title = Platformer
    width = 1280
    height = 720
    fullscreen = false
    vsync = true
}

gamepad
{
    form = res/ui/gamepad.form
}

aliases
{
    res/textures = res/textures
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/enemy = res/textures/enemy.png
    res/textures/gamepad = res/textures/gamepad.png
    res/textures/tiles = res/textures/tiles.png
    res/textures/enemies = res/textures/enemies.png
    res/textures/environment = res/textures/environment.png
    res/textures/player = res/textures/player.png
    res/textures/splash = res/textures/splash.png
    res/textures/bg = res/textures/bg.png
    res/textures/interactables = res/textures/interactables.png
    res/textures/collectables = res/textures/collectables.png
}

scripts
{
    initialize = res/lua/platformer.lua#initialize
}

// Debug only game options

debug_font = res/fonts/debug.gpb
debug_show_fps = false
debug_draw_physics = false
debug_assert_timeout_ms = 0
debug_draw_character_positions = false
debug_enable_zoom_draw_culling = true
debug_enable_enemy_spawn = true
debug_draw_camera_target = false
debug_camera_target_colour = 1, 1, 0, 0.5
debug_enable_level_rendering= true
debug_enable_unlimited_jump= false

// Debug only tools options

debug_enable_tools = false
debug_run_tools_only = false

debug_android_sdk_tools_dir = <insert_path>
debug_android_ndk_dir = <insert_path>
debug_ant_dir = <insert_path>

debug_clean_android = false
debug_generate_android = false
debug_num_android_compile_jobs=4
debug_build_android=false
debug_deploy_android=false

debug_os = <assigned_at_runtime>
